*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', Arial, Helvetica;
    display: flex;
    min-width: 400px;
}

main{
    height: calc(100vh - 75px);
    background-color: #141922;
}

/* sidebar  */
.sidebar{
    width: 190px;
    height: calc(100vh - 75px);
    background-color: black;
    color: #707070;
    font-size: 11px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    z-index: 444;
}

#logo{
    width: 120px;
    margin-bottom: 20px;
    margin: 18px;
}
.sidenav{
    height: calc(100% -80px);
}

.sidenav .option{
    margin: 10px 0px;
    cursor: pointer;
    padding-left: 18px;
}

.sidenav .option:hover {
    border-left: 2px solid #adff2f;
    color: white;
    font-weight: 700;
}

.sidenav .option:hover img{
    filter: invert(0);
}

.sidenav .option img{
    width: 22px;
    filter: invert(0.3);
    vertical-align: middle;
}

.sidenav h2{
    font-size: 11px;
    text-transform: uppercase;
    color: white;
    margin: 20px 0px 10px 18px;
}

.sidenav .add-playlist{
    cursor: pointer;
}

.sidenav .add-playlist:hover{
    color: white;
}

.sidenav .add-playlist:hover span:first-child{
    background-color: white;
}

.sidenav .add-playlist span:first-child{
    font-size: 25px;
    font-weight: 600;
    color: black;
    background-color: #a3a3a3;
    padding: 0px 8px;
    vertical-align: middle;
    margin-left: 18px;
}

.sidenav .add-playlist span:last-child{
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
}

.sidenav > .playlist{
    margin: 15px 0px 0px 18px;
    display: block;
    overflow-y: scroll;
    min-height: 100px;
}

.sidenav ul li{
    padding: 6px 0px;
    cursor: pointer;
    list-style: none;
}

.sidenav ul li:hover{
    color: white;
}

.sidenav hr{
    margin: 5px 18px;
    opacity: 0.7;
}

.sidebar .download{
    cursor: pointer;
    margin-left: 18px;
}

.download:hover{
    color: white;
}

.download img{
    width: 15px;
    margin: 2px;
    vertical-align: middle;
}

.sidebar .user{
    cursor: pointer;
    margin: 0px 0px 5px 18px;
}

.sidenav .user span{
    color: white;
    font-weight: 700;
    position: relative;
    bottom: 9px;
    margin: 0px 5px;
}

.user img{
    width: 22px;
    margin-top: 8px;
    background-color: grey;
    border-radius: 11px;
}

/* sezione upgrade  */
main header .upgrade{
    background-color: #080b12;
    height: 75px;
    position: relative;
}

main header .upgrade button{
    background-color: #080b12;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 10px 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

main header .upgrade button:hover{
    background-color: #151c2a;
}

main .song-section{
    overflow:auto;
    height: calc(100% - 80px);
    padding: 0px 20px;
}

main .song-section ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    list-style: none;
}

main .song-section ul li{
    margin: 10px 0px;
    position: relative;
}

main .song-section ul li a:hover::after{
    content: attr(title);
  width: 25px;
  height: 1px;
  background-color: #adff2f;
  position: absolute;
  left: 50%; 
  top: 20px;
  transform: translateX(-50%);
}

main .song-section ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 6700;
    color: gray;
}

main .recently-played{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

main .song-section h1{
    color: white;
    font-size: 20px;
    margin: 15px 0px;
}

main .song-section .row-box{
    display: flex;
    width: calc((100vw - 190) / 2);
    max-width: 400px;
    min-width: 200px;
    
}

main .song-section .song-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0px 10px;
}

main .song-section .artist-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0px 10px;
}

main .song-section .artist-box img{
    object-fit: contain;
    width: 100%;
    border-radius: 100%;
}

main .song-section .song-box img{
    object-fit: contain;
    width: 100%;
}

main h2{
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 10px 0px;
}

main h3{
    font-size: 10px;
    color: gray;
    margin-bottom: 10px;
}

/* music player bar  */
.player-bar{
    width: 100vw;
    height: 75px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-bar .section{
    width: calc(100% / 3);
    margin: 20px 10px;
    color: white;
}

.player-bar .left img{
    max-width: 35px;
    max-height: 35px;
    width: 10vw;
    height: 10vw;
}

.player-bar .left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.player-bar .left .song-info{
    color: gray;
    font-size: 10px;
    margin: 0px 10px;
}

.player-bar .left .save-icons{
    color: gray;
    font-size: 15px;
    margin: 0px 10px;
}

.player-bar .left .song-info div:first-child{
    font-size: 15px;
    color: white;
}

.player-bar .center{}

.player-bar .center .buttons-row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    font-size: 15px;
}

.player-bar .center .buttons-row i:nth-child(3){
    font-size: 25px;
}

.player-bar .center .song-slider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 5px;
    font-size: 10px;
}

.player-bar .slider{
    width: 70%;
    height: 4px;
    border-radius: 2px;
}

.player-bar .gray{
    background-color: #5a5a5a;
    cursor: pointer;
}

.player-bar .white{
    width: 20%;
    background-color: #c1c1c1;
    margin-top: 5px;
    position: relative;
    bottom: 5px;
}

.player-bar .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15px;
    font-size: 15px;
}

.player-bar .right .slider{
    width: 30%;
    height: 4px;
    border-radius: 2px;
}

@media screen and (max-width: 430px){
    .sidebar{
        display: none;
    }

    .sidebar-small{
        width: 40px;
        height: calc(100vh - 75px);
        background-color: black;
        padding: 5px 9px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #logo-small{
        margin-bottom: 10px;
    }

    .sidenav-small{
        filter: invert(0.1);
        width: 22px;
    }

    .sidenav-small > img{
        cursor: pointer;
    }

    .sidebar-small .download{
        cursor: pointer;
    }

    .sidebar-small .user{
        cursor: pointer;
    }

    main{
        width: calc(100vw - 40px);
        height: calc(100vh - 75px);
    }
}

@media screen and (min-width: 430px) {
    .sidebar-small{
        display: none;
    }

    main{
        width: calc(100% - 190px);
    }
}

@media screen and (min-width: 530px) {
    
}

@media screen and (min-width: 760px) {
    
}



/* **** debug **** */

/* .debug .sidebar{
    background-color: tomato;

} */

/* .debug .player-bar{
    background-color: pink;
} */

/* .debug main{
    background-color: lightblue;
} */

/* .debug main header .upgrade{
    background-color: lightgreen;
    height: 75px;
} */

/* .debug main nav{
    background-color: lightsalmon;
} */